/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Add space below headings */
h1, h2, h3,h4 {
    margin-bottom: 20px; /* Adds 20px space below the heading */
}

/* Add space above paragraphs */
p {
    margin-top: 20px; /* Adds 20px space above the paragraph */
}

body {
   
    font-family: 'Arial', sans-serif; /* Changes font family */
    font-style: italic; /* Italicizes the text */
    text-transform: uppercase; /* Converts text to uppercase */
    line-height: 2;
    font-weight: bold;
    color: #333;
    padding: 20px;
    background-image: url('ob.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Header Styling */
header {
    background-color: #004080;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Menu Section Styling with Flexbox */
#menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

/* Apply semi-transparent background color to text */
.semi-transparent-background {
    background-color: rgba(240, 233, 233, 0.628); /* Black background with 50% opacity */
    color: #201c1c; /* White text color */
    padding: 10px;
    border-radius: 5px;
}



#menu {
    padding: 20px;
}

.menu-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-item {
    flex: 1 1 calc(50% - 20px); /* Adjusts the size based on available space */
    background-color: #f5eded94;
    border: 1px solid #211f1f90;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.menu-item strong {
    display: block;
    margin-top: 10px;
    color: #004080;
    font-size: 18px;
}

.menu-item p {
    margin-top: 5px;
    font-size: 16px;
    color: #040404;
}


/* Footer Styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #004080;
    color: #fff;
    margin-top: 20px;
}
